<div class="container settings-grid">
    <div class="row">
      <!-- Top-left -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="setting-item">
          <div class="setting-img-wrap" aria-hidden="true">
            <!-- Cambia la ruta por la de tu imagen -->
            <img src="/assets/icons/gear.png" alt="Personalizar experiencia" class="setting-img">
          </div>
          <a href="#" class="setting-link">Personalizar experiencia</a>
        </div>
      </div>

      <!-- Top-right (selected) -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="setting-item">
          <div class="setting-img-wrap selected" aria-hidden="true">
            <!-- Imagen del usuario; la caja azul viene de .selected -->
            <img src="/assets/icons/user.png" alt="Información personal" class="setting-img">
          </div>
          <a href="#" class="setting-link">Informacion personal</a>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <!-- Bottom-left -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="setting-item">
          <div class="setting-img-wrap" aria-hidden="true">
            <img src="/assets/icons/lock.png" alt="Privacidad y seguridad" class="setting-img">
          </div>
          <a href="#" class="setting-link">Privacidad y seguridad</a>
        </div>
      </div>

      <!-- Bottom-right -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="setting-item">
          <div class="setting-img-wrap" aria-hidden="true">
            <img src="/assets/icons/share.png" alt="Conexiones externas" class="setting-img">
          </div>
          <a href="#" class="setting-link">Conexiones externas</a>
        </div>
      </div>
    </div>
  </div>
