@{
    ViewData["Title"] = "Crear cuenta";
}


<section class="create-account-page">
    <article>
        <h1>Crear cuenta</h1>

        <form method="post">
            <div>
                <label class="visually-hidden" for="register-email">Correo electrónico</label>
                <input type="email" id="register-email" name="email" placeholder="Correo electronico" autocomplete="email" required />
            </div>

            <div>
                <label class="visually-hidden" for="register-password">Contraseña</label>
                <input type="password" id="register-password" name="password" placeholder="Contraseña" autocomplete="new-password" required />
            </div>

            <div>
                <label class="visually-hidden" for="register-confirm">Confirmar contraseña</label>
                <input type="password" id="register-confirm" name="confirmPassword" placeholder="Confirmar contraseña" autocomplete="new-password" required />
            </div>

            <div>
                <label class="visually-hidden" for="register-username">Nombre de usuario</label>
                <input type="text" id="register-username" name="username" placeholder="Username" autocomplete="username" required />
            </div>

            <label for="terms">
                <input type="checkbox" id="terms" name="terms" required />
                Acepto los términos y condiciones
            </label>

            <label for="updates">
                <input type="checkbox" id="updates" name="updates" />
                Quiero recibir información y anuncios de Melodika
            </label>

            <button type="submit">Crear cuenta</button>
        </form>
    </article>
</section>