@{
    ViewData["Title"] = "ElegirUsuario";
}

   <main class="contenido-principal">

    <section class="seccion-usuarios">

      <article class="usuario-tarjeta">
        <div class="usuario-circulo">
          <img src="../imagenes/camara2.png" alt="icono usuario uno">
        </div>
        <p>Usuario uno</p>
      </article>

      <article class="usuario-tarjeta">
        <div class="usuario-circulo">
          <img src="../imagenes/camara2.png" alt="icono usuario dos">
        </div>
        <p>Usuario dos</p>
      </article>

      <article class="usuario-tarjeta">
        <div class="usuario-circulo">
          <img src="../imagenes/A.png" alt="crear usuario">
        </div>
        <p>Crear usuario</p>
      </article>

    </section>

    <div class="usuario-accion">
      <button class="accion-primaria" type="button">Cerrar sesión</button>
    </div>

  </main>