@{
    ViewData["Title"] = "ElegirUsuario";
}

   <main class="contenido-principal">

    <section class="seccion-usuarios">

      <article>
        <div>
          <img src="../imagenes/camara 2.png" alt="icono usuario uno">
        </div>
        <p>Usuario uno</p>
      </article>

      <article>
        <div>
          <img src="../imagenes/camara 2.png" alt="icono usuario dos">
        </div>
        <p>Usuario dos</p>
      </article>

      <article>
        <div>
          <img src="../imagenes/agregar.png" alt="crear usuario">
        </div>
        <p>Crear usuario</p>
      </article>

    </section>

    <div>
      <button type="button">Cerrar sesión</button>
    </div>

  </main>