@{
    ViewData["Title"] = "ElegirUsuario";
}

   <main class="contenido-principal">

    <section class="seccion-usuarios">
      
      <div class="contenedor-usuario usuario-uno">
        <div class="circulo-icono icono-usuario-uno">
          <img class="imagen-icono imagen-usuario-uno" src="../imagenes/camara 2.png" alt="icono usuario uno">
        </div>
        <p class="texto-usuario texto-usuario-uno">Usuario uno</p>
      </div>

      <div class="contenedor-usuario usuario-dos">
        <div class="circulo-icono icono-usuario-dos">
          <img class="imagen-icono imagen-usuario-dos" src="../imagenes/camara 2.png" alt="icono usuario dos">
        </div>
        <p class="texto-usuario texto-usuario-dos">Usuario dos</p>
      </div>

      <div class="contenedor-usuario crear-usuario">
        <div class="circulo-icono icono-crear-usuario">
          <img class="imagen-icono imagen-crear-usuario" src="../imagenes/agregar.png" alt="crear usuario">
        </div>
        <p class="texto-usuario texto-crear-usuario">Crear usuario</p>
      </div>

    </section>

    <div class="contenedor-boton">
      <button class="boton-cerrar-sesion">Cerrar sesión</button>
    </div>

  </main>
