@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Melodika Site</title>
</head>
<body>

<section class="seccion1">
    <div class="container py-5">
        <div class="row align-items-center">
          <!-- Texto a la izquierda -->
          <div class="col-md-6 mb-4 mb-md-0 content">
            <p class="small mb-1">La música que llevás dentro.</p>
            <h3 class="fw-bold">Descubrí tu sonido, aprendé con juegos, videos y ejercicios divertidos. <br> No hace falta experiencia, solo ganas de tocar.</h3>
            <button class="btn custom-btn mt-3">EMPIEZA GRATIS</button>
          </div>
    
          <div class="col-md-6">
            <div class="image-box"><img src="Imagenes/ImagenLanding1.png" alt=""></div>
          </div>
        </div>
      </div>
</section>
<section class="seccion2">
  <h1>¿QUE VAS A APRENDER?</h1>
  <h4>¿Por qué elegirnos?</h4>
  <div class="beneficio">
   <div>
    
    <img src="Imagenes/ImagenLanding1.png" alt="foto">
    <h3>Beneficio 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit mus, mollis parturient proin justo felis scelerisque natoque...
    </p>
  </div>

  <div>
    
    
    <img src="Imagenes/ImagenLanding1.png" alt="foto">
    <h3>Beneficio 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit mus, mollis parturient proin justo felis scelerisque natoque...
    </p>

</div>

<div>
    
    
    <img src="Imagenes/ImagenLanding1.png" alt="foto">
    <h3>Beneficio 3</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit mus, mollis parturient proin justo felis scelerisque natoque...
    </p>
  </div>
</div>
<button>REGÍSTRATE AHORA</button>
</section>
    
<section class="seccion3">
<div class = "contenedor">
<div>
  <img src="Imagenes/ImagenLanding1.png" alt="foto">
  <h1>APRENDE GUITARRA</h1>
</div>

<div>
  <img src="Imagenes/ImagenLanding1.png" alt="foto">
  <h1>APRENDE TEORIA MUSICAL</h1>
</div>

</div>

<div>
  <img src="Imagenes/ImagenLanding1.png" alt="foto">
  <h1>APRENDE PIANO</h1>
</div>

</section>
<section class="seccion4">
    <div class="container contact-section">
        <div class="row align-items-start">
            <div class="col-md-6 contact-info">
                <h3 class="contact-title">CONTACTANOS</h3>
                <p>Llena el formulario y recibí más información</p>
                <div class="line"></div>
                <p>1234-5678</p>
                <p>Melodika@gmail.com</p>
            </div>

          <div class="col-md-6">
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="TU NOMBRE">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="TU MAIL">
              </div>
              <div class="mb-3">
                <textarea class="form-control" rows="3" placeholder="TU MENSAJE (opcional)"></textarea>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
<section class="seccion seccion5">

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
